{% extends "pages/base.html" %}
{% load static %}
{% block title %} TV Shows {% endblock%}
{% block content %}
 <!-- Slider Start -->
<br>
<br>
<br>
<br>
<br>
<br>
 <section class="iq-main-slider p-0">  
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-12 overflow-hidden">
            <div class="iq-main-header d-flex align-items-center justify-content-between">
               <h1 class="main-title">Documentaries</h1>
            </div>
            <div class="favorites-contens">
                <p bold >The truth hurts. But sometimes it’s inspirational, scary, sad, funny or 
                <br>anywhere in between. Experience it all with our best documentary
                <br>series and movies.</p>
               <ul class="favorites-slider list-inline  row p-0 mb-0">
                
               </ul>
            </div>
         </div>
      </div>
   </div>
          
 </section>
 <!-- Slider End -->
 <!-- MainContent -->
 <div class="main-content">
   <section id="iq-favorites">
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12 overflow-hidden">
               <div class="iq-main-header d-flex align-items-center justify-content-between">
               </div>
               <ul class="favorites-slider list-inline  row p-0 mb-0">
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section id="iq-upcoming-movie">
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12 overflow-hidden">
               <div class="iq-main-header d-flex align-items-center justify-content-between">
                  <h4 class="main-title">	Popular on StreamRo</h4>
               </div>
               <div class="upcoming-contens">
                  <ul class="favorites-slider list-inline row p-0 mb-0">
                    {% for show in popular %} 
                    <li class="slide-item"> 
                           <div class="block-images position-relative">
                              <div class="img-box">
                                 <img src="{{show.image.url}}" class="img-fluid" alt="">
                              </div>
                              <div class="block-description">
                                 <h6>{{show.title}}</h6>
                                 <div class="movie-time d-flex align-items-center my-2">
                                    <div class="badge badge-secondary p-1 mr-2">{{show.age_restriction}}</div>
                                    <span class="text-white">{{show.duration}}</span>
                                 </div>
                                 <div class="hover-buttons">
                                   <a class="btn btn-hover" href="{% url 'listing' show.pk %}"class="fa fa-play mr-1">Play Now</a> 
                                 </div>
                              </div>
                              <div class="block-social-info">
                                <ul class="list-inline p-0 m-0 music-play-lists">
                                 
                                </ul>
                              </div>
                           </div>
                        </a>
                     </li>
                     {% endfor %}
                     
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section id="iq-suggestede">
      <div class="container-fluid">
         <div class="row">
            <div class="col-sm-12 overflow-hidden">
               <div class="iq-main-header d-flex align-items-center justify-content-between">
                  <h4 class="main-title">Documentary Films</h4>
               </div>
               <div class="suggestede-contens">
                  <ul class="list-inline favorites-slider row p-0 mb-0">
                     {% for show in documentary %} 
                    <li class="slide-item">
                           <div class="block-images position-relative">
                              <div class="img-box">
                                 <img src="{{show.image.url}}" class="img-fluid" alt="">
                              </div>
                              <div class="block-description">
                                 <h6>{{show.title}}</h6>
                                 <div class="movie-time d-flex align-items-center my-2">
                                    <div class="badge badge-secondary p-1 mr-2">{{show.age_restriction}}</div>
                                    <span class="text-white">{{show.duration}}</span>
                                 </div>
                                 <div class="hover-buttons">
                                   <a class="btn btn-hover" href="{% url 'listing' show.pk %}"class="fa fa-play mr-1">Play Now</a>
                                 </div>
                              </div>
                              <div class="block-social-info">
                                <ul class="list-inline p-0 m-0 music-play-lists">
                                   
                                </ul>
                              </div>
                           </div>
                        </a>
                     </li>
                    {% endfor %}
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </section>
   
</div>

<!-- MainContent End-->
{% endblock %}